video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgba(128, 221, 202, 0.5);
}

.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 80%;
  padding: 15px 24px;
  background-color: transparent;
  color: #ffff;
  font-size: 25px;
  font-weight: 400;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  color: #ffff;
  font-size: 20px;
  
}

h1, h2, ul, p, .search {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  color: #ffff
}

.icon {
  width: 40px;
  height: 40px;
  
}

button {
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background-color: #dbecc4;
  cursor: pointer;
}

.pair {
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width:500px) {

  h1 {
    font-size: 50px;
    margin-left: 80px;
  }

  p {
    font-size: 18px;

  }
}